#noStyle, #choice{
    font-family: "Pacifico", cursive;
}
#decImage{
    background-image: url("../image/Designer (37).jpeg");
}
#contactUs{
    background-image: url("../image/Designer.jpeg");
}